---
import Container from "@components/Container.astro";
import logo from "@assets/full-ver.svg";
import BackToTop from "@components/BackToTop.astro";
import Link from "./Link.astro";
import { Image } from "astro:assets";
---

<footer class="animate">
  <Container>
    <div class="relative">
      <div class="absolute right-0 -top-20">
        <BackToTop />
      </div>
    </div>
    <div class="flex justify-center gap-2 flex-col">
      <Image src={logo} alt="neko logo :)" class="w-40" />
      <div class="text-xs">
        &copy; 2025 michioxd. Available under the <Link
          href="https://github.com/michioxd/michioxd-blog"
          >CC-BY-4.0 license</Link
        >. <Link href="/rss.xml">RSS</Link>
      </div>
    </div>
  </Container>
</footer>
