---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import Icon from "@components/Icon.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-normal text-sm/4 flex gap-3 items-center">
          <Icon />{SITE.NAME}
        </div>
      </Link>
      <nav class="flex gap-1 text-sm/4">
        <Link href="/blog"> all posts </Link>
        {"/"}
        <Link href="https://michioxd.ch"> website </Link>
      </nav>
    </div>
  </Container>
</header>
